@media only screen and (max-width: 1200px) {
    body{
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
     .sidebar {
        width:   calc(var(--w-sidebar) - 225px);
        transition: all 0.5s;
        z-index: 99;
        
    }
    
     .sidebar .sidebar-menu ul {
        height: calc(var(--h-layout) - 180px)
    }
    
    .sidebar .sidebar-brand h1 span,
    .sidebar .sidebar-menu a span,
    .sidebar .sidebar-user span {
        white-space: nowrap;
    }
    
     .sidebar .sidebar-brand,
     .sidebar .sidebar-menu li {
        padding-left: 0 !important;
        margin-bottom: 0;
        transition: all 0.5s;
    }
    
     .sidebar .sidebar-brand h1 span,
     .sidebar .sidebar-menu a span,
     .sidebar .sidebar-user span {
        display: none;
    }
    
     .sidebar .sidebar-brand h1 .bi,
     .sidebar .sidebar-menu a .bi {
        padding-right: 0;
        font-size: var(--space);
    }
    
     .sidebar .sidebar-menu a,
     .sidebar .sidebar-brand h1 {
        padding: 0.5rem 1rem;
        width: 100%;
        transition: all 0.5s;
        display: flex;
        justify-content: center;
    }
    
     .sidebar .sidebar-user {
        padding: 0 1rem
    }
    
     .sidebar .sidebar-user img {
        margin-top: 10px;
        width: 50px;
        height: 50px;
        transition: all 0.5s;
    }
    .main-content {
        margin-left:   calc(var(--w-sidebar) - 225px);
        transition: all 0.5s;
        position: fixed;
        width: calc(100% - 70px);
    }

    header {
        padding: 1rem ;
    }

    main, .sidebar-user{
padding: 1rem !important;
    }
    
#nav-toggle:checked+.sidebar {
    width: var(--w-sidebar);
    transition: all 0.5s;
}

#nav-toggle:checked+.sidebar .sidebar-menu ul {
    height: calc(var(--h-layout) - 213px)
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar .sidebar-menu li {
    padding-left: var(--space) !important;
    margin-bottom: 0;
    transition: all 0.5s;
}

#nav-toggle:checked+.sidebar .sidebar-brand h1 span,
#nav-toggle:checked+.sidebar .sidebar-menu a span,
#nav-toggle:checked+.sidebar .sidebar-user span {
    display: flex;
}

#nav-toggle:checked+.sidebar .sidebar-brand h1 .bi,
#nav-toggle:checked+.sidebar .sidebar-menu a .bi {
    padding-right: 1rem;
    font-size: var(--space);
    transition: all 0.5s;
}

#nav-toggle:checked+.sidebar .sidebar-menu a,
#nav-toggle:checked+.sidebar .sidebar-brand h1 {
    padding-left: 1.5rem;
    width: 100%;
    transition: all 0.5s;
    display: flex;
    justify-content: flex-start;
}

#nav-toggle:checked+.sidebar .sidebar-user {
    padding: 0 1rem
}

#nav-toggle:checked+.sidebar .sidebar-user img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
}
#nav-toggle:checked ~ .main-content {
    margin-left:  var(--w-sidebar);
    transition: all 0.5s;
    width: calc(100% - 70px);

}

}

@media only screen and (max-width: 768px){
    .main-content span{
        display: none;
    }
}